.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

// .header-toolbar-color
// {
//   --background: rgb(64, 82, 182) !important;
//   --title: white !important;
// }
.list-displaytime
{
   font-size: 1.0rem !important;
   font-weight: normal !important;
}
ion-content{
// --ion-background-color:  rgb(64, 82, 182) !important;
 --ion-text-color: rgb(54, 54, 54) !important;

}